---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const allArticles = await getCollection('articles');
---

<Layout title='articles' active='articles'>
  <main class='pt-24'>
    {allArticles.map((article) => <div>{article.data.title}</div>)}
  </main>
</Layout>
