---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Saliente">
	<main>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>About me</h1>
     <p>Web developer programmer</p>   
    </main>
</Layout>

<style>
</style>
