---
    import Layout from '../layouts/Layout.astro';
    import Header from '../components/Header';
---

<Layout title="Saliente" active="logo">
    <main class="pt-64 sm:pt-24 p-8 h-screen justify-center">
        <a href="./about" class="mb-16 flex justify-center">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F3x514i.png&f=1&nofb=1&ipt=57132c39cd0d2b5cc974f895dbf0372e6649f2dbc803c85b5dff4b74cfb0a2d3&ipo=images "
                class="block sm:h-full sm:max-h-96 sm:w-6/12" alt="laughing squirtle company image">
        </a>
        <h1 class="px-2 text-xl text-center mt-24 sm:text-4xl sm:px-24">Hi here! Click on the squirtles to learn
            more
            about
            me.
            If you
            don't
            wanna do
            it use header to navigate. </h1>
    </main>
</Layout>

<style>
</style>