---
import { ToggleTheme } from "./ToggleTheme.jsx";


---

<header class="fixed w-full backdrop-blur-md flex justify-between p-2">
    <h1 class="text-3xl">Sobresaliente</h1>
    <nav class="w-full text-xl">
        <ul class="flex justify-around items-center h-full">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/sobresaliente">Github</a></li>
        </ul>
    </nav>
    <ToggleTheme />
</header>