---
import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro"
---


<Layout title="projects">
    <main class="pt-24">
        <ul>
            <li><ProjectCard title="Visible Light" link="https://twitter.com/visiblelightio" image="" description="Service for easiest testing" /></li>
        </ul>
    </main>
</Layout>