---
import SideBarArticle from '../components/SideBarArticle.astro';
import Layout from './Layout.astro';

interface Props {
  article: Article;
}

interface MenuItem {
  link: string;
  title: string;
}

interface Article {
  titlePage: string;
  menu: MenuItem[];
  title: string;
  date: string;
}
const { article } = Astro.props;
---

<Layout title={article.titlePage}>
  <div class='flex pt-32'>
    <SideBarArticle menuItems={article.menu} />
    <main class='mx-auto sm:w-1/2 w-10/12'>
      <h1 class='font-rowdies text-2xl text-sky-300'>{article.title}</h1>
      <h2 class='font-rowdies text-xl text-sky-300'>{article.date}</h2>
      <p class='mt-4'>
        <slot />
      </p>
    </main>
  </div>
</Layout>
