---
    import Layout from "./Layout.astro";

    const { frontmatter } = Astro.props;
---

<!-- ... -->
<Layout title={frontmatter.title}>
    <main class="pt-24 mx-auto w-1/2">
        <h1>{frontmatter.title}</h1>
        <p>
            <slot />
        </p>
    </main>
</Layout>