---
import Layout from './Layout.astro';

const { digest } = Astro.props;
---

<Layout title={digest.titlePage}>
  <main class='pt-32 mx-auto sm:w-1/2 w-10/12'>
    <a href='../digests'>Back</a>
    <h1 class='font-rowdies text-2xl text-sky-400'>{digest.title}</h1>
    <h2 class='font-rowdies text-xl text-sky-400'>{digest.dates}</h2>
    <p class='mt-4'>
      <slot />
    </p>
  </main>
</Layout>
