---
    export interface Props {
        title: string;
    }

    const { title } = Astro.props
---

<section class="mb-16 w-full">
    <h1 class="text-2xl text-center m-8 text-secondary dark:text-dark-secondary font-rowdies">{title}</h1>
    <slot />
</section>